<header class="app__header">
  <h1>Welcome to {{ title }}!</h1>
</header>
<div class="app__errors" *ngIf="vm.unexpectedError">
  <mat-error class="app__errors-content">{{ vm.unexpectedError.getDefaultFormattedMessage() }}</mat-error>

  <button mat-icon-button (click)="clearAppErrors()"><mat-icon>close</mat-icon></button>
</div>
<main class="app__main">
  <div class="app__side-bar">
    <mat-form-field class="app__search-input" appearance="fill">
      <mat-label>Search text snippet</mat-label>
      <input
        matInput
        [ngModel]="vm.searchText"
        (ngModelChange)="onSearchTextChange($event)"
        (keyup.enter)="loadSnippetTextItems()"
      />
    </mat-form-field>

    <mat-error class="app__loading-text-snippet-items-error" *ngIf="vm.loadingTextSnippetItemsError">{{
      vm.loadingTextSnippetItemsError.message
    }}</mat-error>

    <div class="app__text-snippet-items-grid" *ngIf="vm.textSnippetItems">
      <table mat-table [dataSource]="vm.textSnippetItems">
        <ng-container matColumnDef="SnippetText">
          <th mat-header-cell *matHeaderCellDef>SnippetText</th>
          <td
            mat-cell
            *matCellDef="let element"
            [noWrap]="true"
            [innerHtml]="element.data.snippetText | platformHighlight: vm.searchText"
            [ngClass]="'app__text-snippet-items-grid-cell'"
          ></td>
        </ng-container>

        <ng-container matColumnDef="FullText">
          <th mat-header-cell *matHeaderCellDef>FullText (Click on row to see detail)</th>
          <td [ngClass]="'app__text-snippet-items-grid-cell'" mat-cell *matCellDef="let element">
            {{ element.data.fullText }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="textSnippetsItemGridDisplayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: textSnippetsItemGridDisplayedColumns"
          (click)="toggleSelectTextSnippedGridRow(row)"
          class="app__text-snippet-items-grid-row"
          [ngClass]="{ '-selected': row.data.id == vm.selectedSnippetTextId }"
        ></tr>
      </table>
      <mat-paginator
        [length]="vm.totalTextSnippetItems"
        [pageSize]="vm.textSnippetItemsPageSize()"
        [pageIndex]="vm.currentTextSnippetItemsPageNumber"
        (page)="onTextSnippetGridChangePage($event)"
      ></mat-paginator>
    </div>
  </div>
  <div class="app__detail">
    <platform-example-web-text-snippet-detail></platform-example-web-text-snippet-detail>
  </div>
</main>
<div class="platform-mat-spinner -with-backdrop" *ngIf="vm.textSnippetItems == null && vm.loadingTextSnippetItems">
  <mat-spinner></mat-spinner>
</div>
