@if (User.Identity?.IsAuthenticated == true)
{
    <form method="post" class="form-inline" asp-page="/Account/Logout">
        Welcome @User.Identity.Name

        @* // DEMO ANOTHER WAY TO ADD MORE USER INFO IS ADD USER CLAIM INSTEAD OF DEFINE CUSTOM USER ENTITY AND ADD DATA INTO USER TABLE *@
        <br />
        Position: @(User.Claims.FirstOrDefault(x => x.Type == nameof(Entities.User.Position))?.Value ?? "n/a")
        <button type="submit" class="ml-2 btn btn-link">Logout</button>
    </form>
}
else
{
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
}